<div class="code">
  <div class="code-header">
    {% if include.language %}
      <span class="code-language">{{ include.language }}</span>
    {% endif %}
    <button class="code-copy-btn" data-clipboard-target="#{{ include.id }}"><i class="far fa-copy"></i></button>
  </div>
  <div class="code-body">
    <pre><code class="{{ include.language }} {% if include.linenumbers %}line-numbers{% endif %}" id="{{ include.id }}" {% if include.startline %}data-start="{{ include.startline }}"{% endif %} {% if include.endline %}data-end="{{ include.endline }}"{% endif %}>{{ include.content | escape }}</code></pre>
  </div>
</div>
